.news-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin-top: 6.4rem;
    
}

.news-container-content{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #f1f3f5;
}



/* 84em == 1344px */
@media(max-width: 84em){
    .news-container{
        grid-template-columns: 1fr 18fr;
    }
}

/* 62rem == 992px */
@media(max-width:62em){
    .news-container{
        grid-template-columns: 1fr 14fr;
    }
}

/* 45em == 720px */
@media(max-width:45em){
    .news-container-content{
        grid-template-columns: 1fr;
    }

    .news-container{
        grid-template-columns: 1fr;
    }
}

/* 25em == 400px */
@media(max-width:25em){
    .news-container-content{
        padding: 0.8rem;
    }
} 

