.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 3rem;
  height: 8rem;
}
.header {
  display: flex;
  height: 6.4rem;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
}

.logo-img {
  width: 50%;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  margin-right: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #868e96;
}
.nav-btn {
  display: none;
  margin-right: 1rem;
}

.loading {
  width: 100%;
  height: 0.2rem;
  background-color: #f1f3f5;
  position: relative;
}

.animation {
  animation-name: loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  background-color: red;
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

ion-icon {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  color: #212529;
  display: block;
}

@media (max-width: 25em) {
  .logo-img {
    height: auto;
    width: 30%;
  }
}

@media (max-width: 60em) {
  .video-player {
    max-height: auto;
  }
  .hidden {
    display: none;
  }
  .nav-btn {
    display: block;
  }
}
