.search-bar {
  padding: 0 1.5rem;
  margin-top: 9.8rem;
}
.search-form-controls {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 60rem;

  height: 4rem;
  padding: 1rem;
  font-size: 2rem;
  color: #212529;
  outline: none;
}

.search-btn {
  display: inline-block;
  padding: 0.18rem 1.5rem;
  outline: none;
  border: 1px solid grey;
  border-left: none;
  background-color: #f1f3f5;
}

.search-btn ion-icon {
  font-size: 1.2rem !important;
  display: block;
  height: 2.2rem;
  width: 2.2rem;
}
.search-btn:hover {
  background-color: #bcbebf;
}

.error-input {
  border-color: #f03e3e;
}

@media (max-width: 31em) {
  .search-btn {
    display: none;
  }
  .search-input {
    width: 100%;
  }
  .video-list {
    font-size: 1.6rem;
  }
  html {
    font-size: 40%;
  }
}
