.video {
  background-color: #fff;
  border-bottom: 1px solid #ced4da;
  padding: 1rem;
  cursor: pointer;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.video_image {
  width: 30%;
  height: auto;
}
.video:hover {
  background-color: #e9ecef;
}

.video:focus {
  background-color: #e9ecef;
}
.video-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.4rem;
  color: #343a40;
  border-bottom: 1rem solid red;
}

.description {
  color: #343a40;
  font-size: 1.4rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.video-list-header {
  background-color: #fff;
  font-size: 1.8rem;
  color: #343a40;
  font-weight: 500;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid #ced4da;
}
/* 87.5em = 1400px */
@media (max-width: 87.5em) {
  .video-list {
    font-size: 1.25rem;
  }
}
/* 75em = 1200px */
@media (max-width: 75em) {
  .video-list {
    height: auto;
    font-size: 1.6rem;
  }
  .video_image {
    width: 15%;
    height: auto;
  }
}
