.searched-video {
  margin-bottom: 3.2rem;
}

.video-player {
  max-width: 100%;
  margin-bottom: 2rem;
  height: auto;
}

.video-title {
  font-size: 2rem;
  color: #343a40;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.date {
  color: #343a40;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

/* 60em = 960px */
@media (max-width: 60em) {
  .video-player {
    max-height: auto;
  }
}

/* 75em = 1200px */
@media (max-width: 75em) {
  .searched-video {
    grid-row: 1;
  }
}
