.search-video-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin-top: 6.4rem;
}

.search-video-content{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #f1f3f5;
}

@media(max-width: 84em){
    .search-video-container{
        grid-template-columns: 1fr 18fr;
    }
}

/* 45em == 720px */
@media(max-width:45em){
    .search-video-content{
        grid-template-columns: 1fr;
    }
    /* .search-video-container{
        grid-template-columns: 1fr 12fr;
    } */
    .search-video-container{
        grid-template-columns: 1fr
    } 
}

