.search-video-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin-top: 6.4rem;
}

.search-video-content{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #f1f3f5;
}

@media(max-width: 84em){
    .search-video-container{
        grid-template-columns: 1fr 18fr;
    }
}

/* 62rem == 992px */
@media(max-width:62em){
    .search-video-container{
        grid-template-columns: 1fr 14fr;
    }
}

/* 45em == 720px */
@media(max-width:45em){
    .search-video-content{
        grid-template-columns: 1fr;
    }
    /* .search-video-container{
        grid-template-columns: 1fr 12fr;
    } */
    .search-video-container{
        grid-template-columns: 1fr
    } 
}

/* 32em == 512px */
@media(max-width:43em){
    .search-video-container{
        margin-top: 5.2rem;
    }   
}

/* 25em == 400px */
@media(max-width:25em){
    .search-video-content{
        padding: 0.8rem;
    }
} 



