/* 

color: #212529; #bcbebf

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #495057;
  overflow: hidden;
  /* background-color: #f1f3f5; */
}

.error-message{
  text-align: center;
}

